body {
	font-family: "Arial";
}

figure {
	margin: 0px;
}

figcaption {
	display:inline-block;
	width:210px;
	height:100px;
	line-height: 20px;
	margin: auto;
}

.main {
	width:345px;
	padding:10px;
}

.articlepic {
	display:inline;
	height:100px;
	margin: auto;
}

.captionhead {
	color:#53A0A3;
	font-weight: bold;
	margin:0px;
}

a {
	color:#53A0A3;
	text-decoration: none;
}

.related {
	height:100px;
	padding:5px;
	line-height:18px;
}

.headlines {
	font-weight:bold;
	padding-bottom:0px;
}

.viewmore:first-letter {
	font-weight: bold;
}

#templatepic {
	width: 700px;
}